img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img + img {
  margin-top: 10px;
}

/* .facebook-icon {
  display: inline-flex;
  width: 200px;
  height: 200px;
  background-image: url("https://image.flaticon.com/icons/svg/145/145802.svg");
  background-repeat: no-repeat;
  background-size: contain;
} */
.facebook-icon {
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  cursor: pointer;
  fill: blue;
}

.circle {
  width: 50px;
  fill: blue;
}

.facebook-icon:hover > .circle {
  fill: #c97064;
}

.circle {
  fill: #3b5998;
}

.letter {
  fill: #f4fff8;
}

#svg-sprite {
  display: none;
}

.container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.icon {
  width: 150px;
  height: 150px;
  cursor: pointer;
  fill: #1ea896;
}

.icon:hover,
.icon:focus {
  fill: #ff715b;
}

/* FORMS */

.form-caption {
  display: block;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.form-field {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.form-label {
  margin-left: 5px;
  cursor: pointer;
}

/* Оформляем .form-label когда чекбокс, идущий перед ним в разметке, отмечен */
.form-input:checked + .form-label {
  font-weight: 700;
  color: green;
}

.span {
  display: block;
  font-size: 44px;
  font-weight: 700;
  line-height: 60px;
  color: orange;
  background-color: #9a9a9a;
}
