img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img + img {
  margin-top: 10px;
}

/* .facebook-icon {
  display: inline-flex;
  width: 200px;
  height: 200px;
  background-image: url("https://image.flaticon.com/icons/svg/145/145802.svg");
  background-repeat: no-repeat;
  background-size: contain;
} */
.facebook-icon {
  display: inline-block;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  cursor: pointer;
}

.facebook-icon:hover > .circle {
  fill: #c97064;
}

.circle {
  fill: #3b5998;
}

.letter {
  fill: #f4fff8;
}

#svg-sprite {
  display: none;
}

.container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.icon {
  width: 150px;
  height: 150px;
  cursor: pointer;
  fill: #1ea896;
}

.icon:hover,
.icon:focus {
  fill: #ff715b;
}
